@import '_header.scss';
@import '_footer';
body{
    background-color: black;
    color: white;
}

.row{
    div{
        .card{
            :hover{
                background-color: gray;
                cursor: pointer;
            }
            p{
                color: black;
            }

        }
    }
}
